@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap);

.header[data-v-78a5b18b] {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 100%;
    z-index: 10;
    padding: 2em 0;
    -webkit-transition: all .3s;
    transition: all .3s
}

.subHeader[data-v-78a5b18b] {
    width: 90%;
    max-width: 1650px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.addingShadow[data-v-78a5b18b] {
    background: var(--bgclr);
    font-size: .9rem;
    padding: 1em;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .12);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .12)
}

.nav-links[data-v-78a5b18b] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.nav-links a[data-v-78a5b18b] {
    color: var(--lightclr);
    margin-left: 4em;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 1.1rem
}

.nav-links a[data-v-78a5b18b] :focus,
.nav-links a[data-v-78a5b18b]:hover {
    color: var(--accentclr)
}

.logo[data-v-78a5b18b] {
    width: 85px;
    height: 85px
}

.circle[data-v-78a5b18b] {
    stroke-dasharray: 781;
    stroke-dashoffset: 781;
    -webkit-animation: line-anim-data-v-78a5b18b 2s ease forwards;
    animation: line-anim-data-v-78a5b18b 2s ease forwards
}

.textM[data-v-78a5b18b] {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    -webkit-animation: line-fill-data-v-78a5b18b 2s ease forwards;
    animation: line-fill-data-v-78a5b18b 2s ease forwards
}

.ham[data-v-78a5b18b] {
    position: fixed;
    top: 0;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10
}

.line[data-v-78a5b18b] {
    fill: none;
    -webkit-transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    transition: stroke-dasharray .4s, stroke-dashoffset .4s;
    stroke: var(--accentclr);
    stroke-width: 4.5;
    stroke-linecap: round
}

.ham6 .top[data-v-78a5b18b] {
    stroke-dasharray: 40 172
}

.ham6 .middle[data-v-78a5b18b] {
    stroke-dasharray: 40 111
}

.ham6 .bottom[data-v-78a5b18b] {
    stroke-dasharray: 40 172
}

.ham6.active .top[data-v-78a5b18b] {
    stroke-dashoffset: -132px
}

.ham6.active .middle[data-v-78a5b18b] {
    stroke-dashoffset: -71px
}

.ham6.active .bottom[data-v-78a5b18b] {
    stroke-dashoffset: -132px
}

@-webkit-keyframes line-fill-data-v-78a5b18b {
    0% {
        fill: transparent
    }

    to {
        fill: #64ffda
    }
}

@keyframes line-fill-data-v-78a5b18b {
    0% {
        fill: transparent
    }

    to {
        fill: #64ffda
    }
}

@-webkit-keyframes line-anim-data-v-78a5b18b {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes line-anim-data-v-78a5b18b {
    to {
        stroke-dashoffset: 0
    }
}

@media (max-width:768px) {
    .nav[data-v-78a5b18b] {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: all .3s;
        transition: all .3s;
        background-color: #172a45;
        z-index: 9
    }

    .open-nav[data-v-78a5b18b] {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .nav-links[data-v-78a5b18b] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }

    .nav-links a[data-v-78a5b18b] {
        display: block;
        margin-left: 0;
        margin: 2em 0
    }

    .ham[data-v-78a5b18b] {
        display: unset;
        position: unset;
        top: unset;
        right: unset
    }

    .ham-open[data-v-78a5b18b] {
        position: fixed;
        top: 2.3em;
        right: 3.2em
    }
}

@media (max-width:375px) {
    .nav[data-v-78a5b18b] {
        width: 68%
    }
}

@media (max-width:425px) {
    .nav[data-v-78a5b18b] {
        width: 55%
    }
}

.intro[data-v-1f9850c0] {
    color: var(--lightclr);
    width: 65%;
    padding: 10em 0;
    margin-top: 9.7em
}

.hi[data-v-1f9850c0] {
    color: var(--accentclr);
    margin-bottom: .8em;
    font-size: 1.5rem;
    font-family: var(--ff-secondary);
    font-weight: 400
}

.name[data-v-1f9850c0] {
    font-size: 3rem;
    color: var(--lightclr)
}

.build[data-v-1f9850c0] {
    color: var(--darkclr);
    font-size: 3rem
}

@media (max-width:768px) {
    .intro[data-v-1f9850c0] {
        width: 90%;
        margin-top: 10em
    }
}

.aboutme[data-v-0bad237f] {
    padding: 16em 0;
    width: 50%
}

.flex-row[data-v-0bad237f] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.image[data-v-0bad237f] {
    background-image: url(../img/pp.6442063e.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 12px
}

.image[data-v-0bad237f]:before {
    content: "";
    position: absolute;
    border: 1px solid var(--accentclr);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    z-index: -1;
    -webkit-transform: translate(-25px, 20px);
    transform: translate(-25px, 20px);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.image[data-v-0bad237f]:hover:before {
    -webkit-transform: translate(0);
    transform: translate(0);
    z-index: 1
}

.overlay[data-v-0bad237f] {
    position: relative
}

.overlay[data-v-0bad237f]:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2caa8d;
    z-index: 1;
    opacity: .3;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    border-radius: 12px
}

.overlay[data-v-0bad237f]:hover:after {
    opacity: 0
}

.imageme[data-v-0bad237f] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
    width: 40%
}

.aboutme_title[data-v-0bad237f] {
    position: relative;
    color: var(--lightclr);
    margin-bottom: 2em;
    font-size: 2rem
}

.aboutme_title[data-v-0bad237f]:after {
    content: "";
    position: absolute;
    background-color: var(--darkclr);
    opacity: .5;
    width: 60%;
    height: 1px;
    bottom: 45%;
    margin-left: .5em
}

.aboutme_body[data-v-0bad237f] {
    color: var(--darkclr);
    font-size: 1.4rem;
    margin-bottom: .5em
}

.color-accent[data-v-0bad237f] {
    color: var(--accentclr)
}

.skills[data-v-0bad237f] {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px))
}

.skills li[data-v-0bad237f] {
    color: var(--darkclr);
    margin: 0 0 1em;
    font-size: .9rem
}

.skills li[data-v-0bad237f]:before {
    content: "▹";
    color: var(--accentclr)
}

@media (max-width:1440px) {
    .imageme[data-v-0bad237f] {
        width: 50%
    }

    .image[data-v-0bad237f] {
        width: 350px;
        height: 350px
    }
}

@media (max-width:1200px) {
    .image[data-v-0bad237f] {
        width: 270px;
        height: 270px
    }
}

@media (max-width:768px) {
    .aboutme[data-v-0bad237f] {
        padding-bottom: 5em;
        width: 90%
    }

    .flex-row[data-v-0bad237f] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .imageme[data-v-0bad237f] {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 4em
    }
}

@media (max-width:575px) {
    .aboutme_title[data-v-0bad237f]:after {
        display: none
    }

    .image[data-v-0bad237f] {
        width: 250px;
        height: 250px
    }
}

.myworks[data-v-c56e5c78] {
    padding: 10em 0
}

.btn[data-v-c56e5c78] {
    -ms-flex-item-align: center;
    align-self: center
}

.mywork_title[data-v-c56e5c78] {
    position: relative;
    color: var(--lightclr);
    margin-bottom: 2em;
    font-size: 2rem
}

.mywork_title[data-v-c56e5c78]:after {
    content: "";
    position: absolute;
    background-color: var(--darkclr);
    opacity: .5;
    width: 60%;
    height: 1px;
    bottom: 45%;
    margin-left: .5em
}

.box-grid[data-v-c56e5c78] {
    grid-column: 2/8;
    grid-gap: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

.box[data-v-c56e5c78] {
    height: 250px;
    background-color: var(--boxclr);
    border-radius: 5px;
    padding: 1.5em;
    -webkit-transition: all .3s;
    transition: all .3s
}

.box[data-v-c56e5c78]:focus,
.box[data-v-c56e5c78]:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.boxFlex[data-v-c56e5c78] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.box_title[data-v-c56e5c78] {
    margin-top: 1em;
    font-size: 1.2rem;
    color: var(--lightclr)
}

.box_footer_text[data-v-c56e5c78] {
    color: var(--darkclr);
    font-size: .9rem
}

.links[data-v-c56e5c78] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.folder[data-v-c56e5c78] {
    width: 30px;
    height: 30px;
    fill: var(--accentclr)
}

.link[data-v-c56e5c78] {
    color: var(--darkclr);
    font-size: 1.3rem;
    -webkit-transition: all .3s;
    transition: all .3s
}

.link[data-v-c56e5c78]:focus,
.link[data-v-c56e5c78]:hover {
    color: var(--accentclr)
}

@media (max-width:1000px) {
    .mywork_title[data-v-c56e5c78]:after {
        width: calc(100% - 450px)
    }
}

@media (max-width:768px) {
    .box-grid[data-v-c56e5c78] {
        grid-column: 1/9
    }

    .mywork_title[data-v-c56e5c78]:after {
        width: 10%
    }
}

@media (max-width:425px) {
    .mywork_title[data-v-c56e5c78]:after {
        display: none
    }
}

#contact[data-v-10e7b6c6] {
    padding: 16em 0
}

.flex-center[data-v-10e7b6c6] {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.contact[data-v-10e7b6c6] {
    text-align: center;
    width: 65%
}

@media (max-width:768px) {
    .contact[data-v-10e7b6c6] {
        width: 90%
    }
}

.whats[data-v-10e7b6c6] {
    font-size: 1.2rem;
    color: var(--accentclr);
    font-family: var(--ff-secondary);
    font-weight: 400
}

.touch[data-v-10e7b6c6] {
    margin: .5em 0;
    font-size: 3rem;
    color: var(--lightclr)
}

.text[data-v-10e7b6c6] {
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
    color: var(--darkclr)
}

@media (max-width:768px) {
    #contact[data-v-10e7b6c6] {
        padding: 9em 0
    }

    .text[data-v-10e7b6c6] {
        width: 100%
    }
}

.left-fixed[data-v-41baecb4] {
    left: 100px;
    position: fixed;
    bottom: 0
}

.social-links[data-v-41baecb4] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.social-links a[data-v-41baecb4] {
    display: block;
    color: var(--darkclr);
    margin-top: 1em;
    font-size: 1.2rem;
    -webkit-transition: all .3s;
    transition: all .3s
}

.social-links a[data-v-41baecb4]:hover {
    color: var(--accentclr);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.social-links li[data-v-41baecb4]:last-child {
    position: relative;
    margin-bottom: 100px
}

.social-links li[data-v-41baecb4]:last-child:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    background: var(--darkclr);
    bottom: -110px;
    left: 50%
}

.right-fixed[data-v-41baecb4] {
    right: 0;
    position: fixed;
    bottom: 197px
}

.mail[data-v-41baecb4] {
    display: inline-block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: var(--darkclr);
    margin-top: 8em
}

.mail[data-v-41baecb4]:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background: var(--darkclr);
    right: -110px;
    bottom: 50%
}

.mail[data-v-41baecb4]:focus,
.mail[data-v-41baecb4]:hover {
    color: var(--accentclr)
}

.hide[data-v-41baecb4] {
    display: unset
}

@media (max-width:1050px) {
    .left-fixed[data-v-41baecb4] {
        left: 50px
    }

    .right-fixed[data-v-41baecb4] {
        right: -50px
    }
}

@media (max-width:1260px) {
    .hide[data-v-41baecb4] {
        display: none
    }
}

.footer {
    height: 90px;
    width: 100%;
    background-color: var(--fullydark);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.credit {
    color: var(--darkclr);
    font-size: .9rem;
    -webkit-transition: all .3s;
    transition: all .3s
}

.credit:focus,
.credit:hover {
    color: var(--accentclr)
}

.social-links {
    display: none
}

@media (max-width:768px) {
    .footer {
        height: 145px
    }

    .social-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .social-links li {
        margin-right: 1em
    }

    .social-links a {
        display: block;
        color: var(--darkclr);
        margin-bottom: 1em;
        font-size: 1.7rem;
        -webkit-transition: all .3s;
        transition: all .3s
    }

    .social-links a:hover {
        color: var(--accentclr);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    .social-links li:last-child {
        margin-right: 0
    }
}

:root {
    --hoverclr: rgba(100, 255, 218, 0.1);
    --darkclr: #8892b0;
    --lightclr: #ccd6f6;
    --accentclr: #64ffda;
    --fullydark: #020c1b;
    --bgclr: #0a192f;
    --boxclr: #172a45;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Roboto Mono", monospace
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background-color: var(--bgclr);
    font-size: 16px;
    line-height: 1.4
}

.body {
    width: 90%;
    max-width: 1650px;
    margin: 0 auto
}

a,
li,
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto
}

@media (max-width:1615px) {
    .flex {
        max-width: 1150px
    }
}

@media (max-width:1470px) {
    .flex {
        max-width: 1000px
    }
}

@media (max-width:1370px) {
    .flex {
        max-width: 950px
    }
}

.numbers {
    color: var(--accentclr);
    margin-right: .5em;
    font-family: var(--ff-secondary)
}

#app {
    font-family: var(--ff-primary)
}

.btn {
    display: inline-block;
    text-align: center;
    width: 25%;
    margin-top: 5em;
    padding: 1.2em 1.5em;
    border-radius: 5px;
    color: var(--accentclr);
    border: 1px solid var(--accentclr);
    font-size: 1rem;
    word-spacing: .2em;
    -webkit-transition: all .3s;
    transition: all .3s
}

.btn:focus,
.btn:hover {
    background: var(--hoverclr)
}

@media (max-width:1050px) {
    body {
        font-size: 14px
    }

    .btn {
        width: 40%
    }
}

@media (max-width:768px) {
    body {
        font-size: 12px
    }

    .btn {
        width: 45%
    }
}

@media (max-width:375px) {
    .btn {
        width: 100%
    }
}

.before-enter {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out
}

.enter {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}